body {
  margin: 30px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.logo {
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  background-color: gainsboro;
  padding: 10px;
  border: 0;
  font-weight: bold;
}

.btn:hover {
  opacity: .8;
  cursor: pointer;
}

.btn:active {
  scale: 1.1;
}

.list {
  background-color: grey;
  margin: 20px 0;
}

.individualItem * {
  padding: 0;
  margin: 0;
}

.individualItem h1 {
  color: white;
}

.individualItem img {
  width: 300px;
}

.individualItem h2 {
  color: red;
}

/* Navbar */
ul {
  display: flex;
}

li {
  flex: 1;
  list-style-type: none;
  text-align: center;
  box-sizing: border-box;
}

li:hover {
  cursor: pointer;
  text-decoration: underline;
}

li>input {
  flex: 2;
}

a {
  text-decoration: none;
  color: black;
}


.messaging-space {
  display: flex;
  justify-content: space-between;
}

.chatA {
  flex: 1;
  justify-content: flex-start;
}

.chatM {
  justify-content: center;
}

.chatB {
  text-align: flex-end;
}

.chat-space {
  display: flex;
  flex-direction: column;
}